.navbar {
    border-radius: 0.3rem;
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Poppins-SemiBold", Helvetica;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-family: "Poppins-SemiBold", Helvetica;
}

.navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar-toggler {
    border-radius: 0.3rem;
}

.form-control {
    border-radius: 0.3rem;
}
body {
    background-image: url('bglogin.jpg'); /* Ganti dengan URL gambar latar belakang */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-top: 200px;
}